* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #e56b6f, #355070);
  background-repeat: no-repeat;
}

h1 {
  color: rgb(148, 24, 100);
}

a {
  color: antiquewhite;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

h2 {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  border-bottom: 1px solid rgb(190, 0, 0);
}

.homework {
  margin: 15px;
  padding: 5px;
  border: 1px solid burlywood;
  border-radius: 10px;
}

.homeworks {
  text-align: center;
  font-size: 90px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.javascript {
  display: flex;
  gap: 15%;
}

.newjs {
  /* background-color: #355070; */
}

.oldjs {
  /* background-color: #6d597a; */
}

.html-css {
  display: flex;
  gap: 15%;
}

.newhtmlcss {
  /* background-color: #b56576; */
}

.oldhtmlcss {
  /* background-color: #e56b6f; */
}