* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #e56b6f, #355070);
  background-repeat: no-repeat;
}

.header {
  text-align: center;
  font-size: 90px;
  color: rgb(148, 24, 100);
}

a {
  color: antiquewhite;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

h2 {
  width: 300px;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  border-bottom: 1px solid rgb(190, 0, 0);
}

.homework {
  margin: 15px;
  padding: 5px;
  border: 1px solid burlywood;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.homework:hover{
  background-color: #0a3161;
  font-weight: bold;
  border: 1px solid darkgoldenrod;
}

.container {
  display: flex;
  justify-content: space-around;
}

.javascript {
  display: flex;
  gap: 5%;
}

.html-css {
  display: flex;
  gap: 5%;
}
